 .container-wrapper {
  margin: auto;
  padding: 30px;
 }

.header-image {

    height: 30vh;
    width: 100%;
    position: relative;

    img {
      position: cover;
    }
}



// #pills-tab  .nav-pills li.active > a {

//   border-bottom: 5px solid black;
// }
