 .container-wrapper {
  margin: auto;
  padding: 30px;
 }

 .restaurant-header {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.header-image {

    height: 30vh;
    width: 100%;
    position: relative;

    img {
      position: cover;
    }
// padding - top: to display the restaurant name
    padding-top: 30vh;
}



// #pills-tab  .nav-pills li.active > a {

//   border-bottom: 5px solid black;
// }
